<%= render('partial/navbar', navbar: {active: "настройки"}) %>

<div class="container-fluid">
  <div class="row">
    <%= render('partial/sidebar/settings', menu: {active: "поставщики"}) %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ul class="nav nav-tabs">
        <li><%= link_to 'все поставщики', providers_path %></li>
        <li><%= link_to 'добавить поставщика', new_provider_path %></li>
      </ul>
      <div class="col-lg-6">
        <br/>

        <% if notice %>
            <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>
        <strong>Название:</strong>
        <%= @provider.name %>
        </p>
        <p>
          <strong>Контактное лицо:</strong>
          <%= @provider.contact_name %>
        </p>

        <p>
          <strong>Телефон:</strong>
          <%= @provider.phone %>
        </p>

        <p>
          <strong>Адрес:</strong>
          <%= @provider.address %>
        </p>

        <% if @provider.comments.length > 0 %>

            <p>
              <strong>Комментарий:</strong>
              <%= @provider.comments %>
            </p>

        <% end %>

        <%= link_to 'Редактировать', edit_provider_path(@provider) %>

      </div>
      <div class="col-lg-6">
        <% if @provider.ingredient.length > 0 %>
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Товар, который постовляет постовщик</th>
              </tr>
              </thead>
        <% @provider.ingredient.each do |ingredient| %>

                  <tbody>
                  <td><%= link_to ingredient.name, ingredient %></td>

        <% end %>
              </tbody>
            </table>
        <% else %>


        <% end %>
      </div>
    </div>
  </div>
</div>