<%= render('partial/navbar', navbar: {active: "настройки"}) %>

<div class="container-fluid">
  <div class="row">
    <%= render('partial/sidebar/settings', menu: {active: "партнеры"}) %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ul class="nav nav-tabs">
        <li><%= link_to 'все партнеры', partners_path %></li>
        <li><%= link_to 'добавить партнера', new_partner_path %></li>
      </ul>
      <div class="col-lg-6">
        <br/>

        <% if notice %>
            <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>
        <strong>Название:</strong>
        <%= @partner.name %>
        </p>
        <p>
          <strong>Контактное лицо:</strong>
          <%= @partner.contact_name %>
        </p>

        <p>
          <strong>Телефон:</strong>
          <%= @partner.phone %>
        </p>

        <p>
          <strong>Адрес:</strong>
          <%= @partner.address %>
        </p>

        <% if @partner.comments.length > 0 %>

            <p>
              <strong>Комментарий:</strong>
              <%= @partner.comments %>
            </p>

        <% end %>

        <%= link_to 'Редактировать', edit_partner_path(@partner) %> |
        <%= link_to 'Назад', partners_path %>

      </div>
    </div>
  </div>
</div>