<%= render 'partial/navbar' %>

<div class="container-fluid">
  <div class="row">
    <%= render('partial/sidebar', menu: {active: "пользователи"}) %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ul class="nav nav-tabs">
        <li><%= link_to 'все пользователи', users_path %></li>
        <li><%= link_to 'добавить пользователя', new_user_path %></li>
      </ul>
      <br/>
      <% if notice %>
          <div class="alert alert-success" role="alert"><%= notice %></div>
      <% end %>
      <p>
        <strong>Имя:</strong>
        <%= @user.firstName %>
      </p>

      <p>
        <strong>Фамилия:</strong>
        <%= @user.lastName %>
      </p>

      <p>
        <strong>Логин:</strong>
        <%= @user.login %>
      </p>

      <p>
        <strong>Телефон:</strong>
        <%= @user.phone %>
      </p>

      <p>
        <strong>Пароль:</strong>
        <%= @user.password %>
      </p>

      <p>
        <strong>Birthday:</strong>
        <%= @user.birthday %>
      </p>

      <p>
        <strong>Роль:</strong>
        <%= @user.role %>
      </p>


      <%= link_to 'Редактировать', edit_user_path(@user) %> |
      <%= link_to 'Назад', users_path %>

    </div>
  </div>
</div>