<%= render 'partial/navbar' %>

<div class="container-fluid">
  <div class="row">
    <%= render('partial/sidebar', menu: {active: "ингридиенты"}) %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ul class="nav nav-tabs">
        <li class="active"><%= link_to 'все товары', ingredients_path %></li>
        <li><%= link_to 'добавить товар', new_ingredient_path %></li>
      </ul>
      <br/>
      <% if @ingredients.length > 0 %>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Название</th>
              <th>Постащик</th>
              <th>Единица измерения</th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <% @ingredients.each do |ingredient| %>
                <tr>
                  <td><%= link_to ingredient.name, ingredient %></td>
                  <td><%= ingredient.provider.name %></td>
                  <td><%= ingredient.unit %></td>

                  <td><%= link_to 'Изменить', edit_ingredient_path(ingredient) %></td>
                  <td><%= link_to 'Удалить', ingredient, method: :delete, data: {confirm: 'Вы уверены?'} %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
          <div class="well well-lg">В базе нет товаров! <br/>
            Для того что бы добавить товар воспользуйтесь
            вкладкой <%= link_to 'Добавить товар', new_ingredient_path %>.
          </div>
      <% end %>
      <br>

    </div>
  </div>
</div>