<script type="text/javascript">
    $(document).ready(function () {
        $('#ingredient_provider_id').chosen();
    });
</script>

<%= render('partial/navbar', navbar: {active: "склад"}) %>

<div class="container-fluid">
  <div class="row">
    <%= render('partial/sidebar/depot', menu: {active: "ингридиенты"}) %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ul class="nav nav-tabs">
        <li><%= link_to 'все товары', ingredients_path %></li>
        <li class="active"><%= link_to 'добавить товар', new_ingredient_path %></li>
      </ul>
      <div class="col-lg-6">
        <br/>
        <%= form_for(@ingredient, :html => {onsubmit: "return checkFealdsIngredients()"}) do |f| %>
            <% if @ingredient.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this provider from being saved:</h2>

                  <ul>
                    <% @ingredient.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div id="name" class="form-group"><%= f.text_field :name, class: "form-control", placeholder: "Название*", maxlength: 100 %></div>
            <p> <%= f.collection_select :provider_id, Provider.all, :id, :name, {}, class: "form-control" %></p>
            <p> <%= f.select :unit, [['Килограммы', 'Килограммы'], ['Граммы', 'Граммы'], ['Литры', 'Литры'], ['Штуки', 'Штуки']], {}, class: "form-control" %></p>

            <%= f.submit 'Добавить товар', class: "btn btn-primary" %> <%= link_to 'Отмена', ingredients_path, type: "button", class: "btn btn-default" %>

        <% end %>

      </div>
    </div>
  </div>
</div>